:root {
  background-attachment: fixed;
  background-image: url(assets/space-background.605b0e07a30f7460060b.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover
}